@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

.blurb {
  display: flex;
  margin: 2vh 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 2rem;
  padding: 0;
}

.headerpath {
  position: absolute;
  top: 20rem;
  left: 20rem;
  fill: transparent;
  stroke: forestgreen;
  stroke-width: 5;
}

.profilepic {
  margin: 30px 0 0 0; 
  border-radius: 60%;
  filter: brightness(90%);
}

.projectsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem;
  padding: 0;
}

.socialsection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0;
}


.sociallinkimgcontainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px;

}

.contactsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 2rem;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0;
}

.footer p {
  margin: 0 2vw;
}

.cardcontainer {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  column-gap: 2vw;
}

.projectpanel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 4vh 0;
}

.projectpanel:hover {
  animation: rise 1s; 
  cursor: pointer;
}

@keyframes rise {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}


@media screen and (max-width: 1200px) {
  .cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectpanel {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 4vh 0;
  }

  .projectpanel:hover {
    animation: none;
  }

}


.projectpic {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.projectdesc {
    background-color: cornflowerblue;
    padding: 2rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.projectdesch2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.submitbtn {
  margin-top: 15px;
  height: 4rem;
  width: 10rem;
  align-self: center;
}



