@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 2rem;
  padding: 0;
}

.headerpath {
  position: absolute;
  top: 20rem;
  left: 20rem;
  fill: transparent;
  stroke: forestgreen;
  stroke-width: 5;
}



.profilepic {
  margin: 30px 0 0 0; 
  border-radius: 60%;
  filter: brightness(90%);
}

.projectsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 2rem;
  padding: 0;
}

.socialsection {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0;
}


.sociallinkimgcontainer {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px;

}

.contactsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 2rem;
  padding: 0;
}

.footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 2rem;
  padding: 0;
}